<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Slider</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- /CSS -->
</head>

<body>
    <div id="app" v-cloak>
        <div class="container">
            <div class="items">
                <div v-for="(slide, index) in slides" class="item" :class="index === currentIndex ? 'active' : ''">
                    <img :src="slide.image" :alt="`Image ${index + 1}`">
                    <div class="textbox">
                        <h2>{{ slides[index].title }}</h2>
                        <p>{{ slides[index].description }}</p>
                    </div>
                </div>
                <!-- <div class="buttons">
                    <button class="btn" id="start">&#9658;</button>
                    <button class="btn" id="stop">&#9208;</button>
                    <button class="btn" id="reverse">&#8634;</button>
                </div> -->
            </div>
            <div class="thumbnails">
                <div v-for="(slide, index) in slides" class="thumbnail" :class="index === currentIndex ? 'highlighted' : ''">
                    <img :src="slide.image" :alt="`Thumbnail ${index + 1}`">
                </div>
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
    </div>
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /Vue JS -->
    <!-- My JS -->
    <script src="js/main.js"></script>
    <!-- /My JS -->
</body>

</html>